<?xml version="1.0" encoding="UTF-8" ?>
<!-- ~ #{copyright}# -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.hap.job.mapper.JobRunningInfoDtoMapper">
    <resultMap id="BaseResultMap" type="io.choerodon.hap.job.dto.JobRunningInfoDto" extends="io.choerodon.mybatis.mapper.StdMapper.STD">
        <id column="JOB_RUNNING_INFO_ID" property="jobRunningInfoId" jdbcType="DECIMAL" />
        <result column="JOB_NAME" property="jobName" jdbcType="VARCHAR" />
        <result column="JOB_GROUP" property="jobGroup" jdbcType="VARCHAR" />
        <result column="JOB_RESULT" property="jobResult" jdbcType="VARCHAR" />
        <result column="JOB_STATUS" property="jobStatus" jdbcType="VARCHAR" />
        <result column="EXECUTION_SUMMARY" property="executionSummary" jdbcType="VARCHAR" />
        <result column="JOB_STATUS_MESSAGE" property="jobStatusMessage" jdbcType="VARCHAR" />
        <result column="TRIGGER_NAME" property="triggerName" jdbcType="VARCHAR" />
        <result column="TRIGGER_GROUP" property="triggerGroup" jdbcType="VARCHAR" />
        <result column="PREVIOUS_FIRE_TIME" property="previousFireTime" jdbcType="TIMESTAMP" />
        <result column="FIRE_TIME" property="fireTime" jdbcType="TIMESTAMP" />
        <result column="NEXT_FIRE_TIME" property="nextFireTime" jdbcType="TIMESTAMP" />
        <result column="REFIRE_COUNT" property="refireCount" jdbcType="DECIMAL" />
        <result column="FIRE_INSTANCE_ID" property="fireInstanceId" jdbcType="VARCHAR" />
        <result column="SCHEDULER_INSTANCE_ID" property="schedulerInstanceId" jdbcType="VARCHAR" />
        <result column="SCHEDULED_FIRE_TIME" property="scheduledFireTime" jdbcType="TIMESTAMP" />
        <result column="IP_ADDRESS" property="ipAddress" jdbcType="VARCHAR" />
    </resultMap>


    <delete id="deleteByNameGroup" parameterType="io.choerodon.hap.job.dto.JobRunningInfoDto">
        delete from
        SYS_JOB_RUNNING_INFO
        where job_name =
        #{jobName,jdbcType=VARCHAR} and job_group = #{jobGroup,jdbcType=VARCHAR}
    </delete>

</mapper>