<!DOCTYPE html><html><head><meta http-equiv="Content-type"content="text/html; charset=utf-8"><meta name="viewport"content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"><title>Choerodon Hap | 汉得应用开发平台</title><script>window.updateFavicon = function(faviconUrl) {
        var link = document.querySelector("link[rel*='icon']") || document.createElement('link');
        link.type = 'image/x-icon';
        link.rel = 'shortcut icon';
        link.href = faviconUrl;
        document.getElementsByTagName('head')[0].appendChild(link);
      }</script><link rel="shortcut icon"href="/lib/dist/favicon.ico"><link href="/lib/dist/dis/index.f2d3d1a0.css"rel="stylesheet"></head><body><div id="app"></div><script type="text/javascript"src="/lib/dist/dis/vendor.b7b37.js"></script><script type="text/javascript"src="/lib/dist/dis/index.b7b37b52.js"></script></body></html>