.apil-area {
  background-color: #000;
  width: 100%;

  textarea {
    color: #fff;
    line-height: 1.5;
  }
}
.apil-form{
  input{
    border: none;
    background-color: white !important;
    color: #0c0c0c !important;
    font-weight: bold;
  }
}