<?xml version="1.0" encoding="UTF-8" ?>

<!--
  ~ Copyright Hand China Co.,Ltd.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.hap.testext.mapper.UserDemoMapper">
    <!--<resultMap id="BaseResultMap" type="io.choerodon.hap.test.dto.UserDemoo" extends="io.choerodon.mybatis.mapper.StdMapper.STD">-->
        <!--<result column="USER_ID" property="userId" jdbcType="DECIMAL" />-->
        <!--<result column="USER_CODE" property="userCode" jdbcType="VARCHAR" />-->
        <!--<result column="USER_NAME" property="userName" jdbcType="VARCHAR" />-->
        <!--<result column="USER_AGE" property="userAge" jdbcType="DECIMAL" />-->
        <!--<result column="USER_SEX" property="userSex" jdbcType="VARCHAR" />-->
        <!--<result column="USER_BIRTH" property="userBirth" jdbcType="DATE" />-->
        <!--<result column="USER_EMAIL" property="userEmail" jdbcType="VARCHAR" />-->
        <!--<result column="USER_PHONE" property="userPhone" jdbcType="DECIMAL" />-->
        <!--<result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR" />-->
        <!--<result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />-->
        <!--<result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />-->
        <!--<result column="START_ACTIVE_TIME" property="startActiveTime" jdbcType="DATE" />-->
        <!--<result column="END_ACTIVE_TIME" property="endActiveTime" jdbcType="DATE" />-->
    <!--</resultMap>-->


</mapper>