<link href="${base.contextPath}/lib/assets/global/css/components-1.css" rel="stylesheet" id="style_components1" type="text/css" />
<link href="${base.contextPath}/lib/assets/global/css/components-2.css" rel="stylesheet" id="style_components2" type="text/css" />
<link href="${base.contextPath}/lib/assets/global/css/components-3.css" rel="stylesheet" id="style_components3" type="text/css" />
<link href="${base.contextPath}/lib/assets/global/css/components-4.css" rel="stylesheet" id="style_components4" type="text/css" />
<link href="${base.contextPath}/lib/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />